
<html lang="en">

<head>
    <title>Boostlikes</title>
    <!-- Scripts -->
    <script src="../../static/update/js/jquery.min.js"></script>
    <script src="../../static/update/js/bootstrap.min.js"></script>
    <script src="../../static/update/js/hearts.js"></script>
    <script src="../../static/update/js/app.js"></script>
    <link rel="stylesheet" href="../../static/update/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="../../static/update/css/style.css"></link>
    <link rel="stylesheet" href="../../static/update/css/social_btn.css"></link>
    <link rel="stylesheet" href="../../static/update/css/font-awesome-4.7.0/css/font-awesome.min.css"></link>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> -->
                <form action="/AutoRound" method="get">
                    <input type="submit" value="Go to my link location"
                         name="Submit" id="frm1_submit" />
                </form>
    <!-- Footer -->
    <footer id="footer">
        <div class="m-top-5 col-md-12" style="text-align:center">
            <ul class="social-network social-circle">

 <input id="dump" type="hidden" value="{{r}}"><input> <!-- <li><a href="#" class="social icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                <li><a href="#" class="social icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" class="social icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" class="social icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#" class="social icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li> -->
            </ul>
            <p>&copy; Boostlikes
                <a href=""></a>.ca
                <a href=""></a>
            </p>
        </div>
    </footer>
</body>
<script>
var g=$('#dump').val();
var s = JSON.parse(g.replace(/'/g,'\"').replace(/u/g,''));
window.location.href='http://192.168.2.56:2300/test/?'+s[0]['state'];
// $.get('/test',s[0]['state']);

</script>
</html>
